body{
    background-color: rgba(12, 12, 8, 0.915);
}
.card h1{
    text-align: center;
    color: white;
    margin: 50px ;
    margin-bottom: 70px ;
    font-style: italic;


}
.form{
    background-color: rgba(0, 0, 0, 0.527);
    color: rgba(255, 255, 255, 0.877);
    width: 50% ;
    margin: 39px ;
    padding-left: 36px ;
    height: 630px ;
    padding-top: 29px ;
    font-size: x-large;
    border-radius: 20px ;
    box-shadow: 0 0 40px ;
    margin: 20px auto;
    margin-bottom: 40px ;
    
}
.form input{
    width: 80%;
    height: 40px ;
    padding-left: 10px ;
    border: none;
    border-radius: 10px ;
    outline: none;
    margin: 10px ;
    box-shadow: 0 0 20px inset rgb(130, 196, 17);
    margin-bottom: 30px;
    font-size: large;
}
.form button{
width: 50%;
height: 40px;
text-align: center;
margin-left: 36px;
margin-bottom: 40px;
font-size:x-large ;
border: none;
outline: none;
box-shadow: 0 0 30px white;
border-radius: 10px ;
margin-left:  70px;

}
.form input:focus{
    border:4px groove wheat;
}
