body{
    background-color: rgba(255, 255, 255, 0.926);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;

}
.item{
    background-color: rgb(248, 246, 246);
    width: 350px;
    height: 300px;
    box-shadow: 0 0 30px black;
    border: none;
    border-radius: 13px;
}
.item h2{
    text-align: center;
    margin-top: 0px;
    padding-top: 30px;
    font-size: xx-large;
}
.item input{
    width: 85%;
    height: 30px;
    margin: 10px;
     margin-left: 28.5px;
    background-color: white;
    border-radius: 7px;
    padding-left: 10px;
    font-size: 90%;

}
.item button{
    width: 80%;
    height: 38px;
    margin-left: 28.5px;
   border: none;
   border-radius: 10px;
   background-color: rgb(27, 179, 27);
   color: white;
   font-size: x-large;
}
.item h3{
    margin-left: 20px;
}
.item h3 a{
    font-size:89%;
}


.item input:focus{
    box-shadow: inset 0 0 10px ;
}
.card h4{
    margin-top: 40px;
    color: brown;
    text-align: center;
    text-shadow: 10px 10px 30px black ;
}